*{
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body .header{
    height: 10%;
    /* background-color: aqua; */
}

.main .types .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
    display: none;
}

.main .types .nav i{
    font-size: 20px;
}

.main .types .nav input{
    /* display: none; */
    height: 20px;
    width: 70%;
    border-radius: 10px;
    /* font-size: 20px; */
    font-family: 'Rubik';
    letter-spacing: 2px;
    font-weight: 600;
    /* padding-left: 10px; */
}


body .main{
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: green; */
}

.main .types{
    flex: 1.2;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px 10px 10px;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.main .types p{
    /* color: white; */
    padding: 10% 0% 10% 0%;
    width: 100%;
    margin: 0;
    text-align: center;
    /* color: rgb(255, 255, 255); */
    /* background-color: rgb(0, 136, 255); */
    background-color: #f4f4f4;
    font-family: 'Rubik';
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 14px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .1s ease-in;
}

.main .types p:hover{
    
    /* margin-left: 10px;
    margin-top: 20px;
    box-shadow: 4px 3px 0px 0px rgba(0,0,0,0.4);
    transform: translateX(-10px) translateY(-10px); */
}

.main .types .hovered{
    background-color: rgb(169, 19, 177);
}

.main .pokemonList{
    flex: 10;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: 250px;
    grid-gap: 40px;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.main .pokemonList > :nth-child(n+4){
    /* background-color: #ffffff; */
}

.main .pokemonList > :nth-child(n+1){
    background-color: #f8f7f7;
}

.main .pokemonList .pokemonCard{
    /* background-color: aqua; */
    overflow: hidden;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-around;
    position: relative;
    border-radius: 10px;
    /* border: 1px solid red; */
    /* box-shadow: 10px 10px 30px #d4d4d4; */
    box-shadow: 0px 0px 15px -3px rgba(0,0,0,0.3),0px 10px 15px -3px rgba(0,0,0,0.1);
    
}

.main .pokemonList .pokemonCard .info-btn{
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.2s ease-in-out;
}

.main .pokemonList .pokemonCard .info-btn:hover{
    transform: scale(1.1); /* Más visible pero aún sutil */
}

.u-rubber-band {
    animation: rubberBand 1200ms infinite;
  }


.main .pokemonList .pokemonCard p{
    text-transform: capitalize;
    font-family: 'Rubik';
    color: #a39f99;
    text-align: right;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.25;
    letter-spacing: 1px;
}

.main .pokemonList .pokemonCard table:nth-child(2){
    color: #66625c;
}


.statBar{
    height: 10px;
    width: 100px;
    background-color: #e9e8e7;
    border-radius: 5px;
    /* animation: progressBar 2s ease-in-out; */
    /* transition: all .3s ease-in; */
    /* transform-origin: left; */
}

.statBarFill{
    height: 10px;
    border-radius: 5px;
    /* background-color: rgb(0, 136, 255); */
    animation: progressBar .6s ease-in-out forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: transparent;
    letter-spacing: 1px;
    /* max-width: 20px; */
    /* transition: all .3s ease-in; */
    /* transform-origin: left; */
}

.statBarFill p{
    font-size: 10px;
}

@keyframes progressBar {
    from{
        width: 0px;
    }
    to{
        width: 100%;
        /* color: white; */
    }
}

.main .pokemonList .pokemonCard .pokemonInfo{
    /* height: 80%; */
    padding: 10px 50px 15px 50px;
    box-shadow: 10px 10px 30px #e9e8e7;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transition: all .4s ease-in;
    
}

.main .pokemonList .pokemonCard .pokemonInfo img{
    /* width: 30%; */
    z-index: 1;
    margin: 1rem;
}

.main .pokemonList .pokemonCard .pokemonInfo p{
    font-size: 20px;
    font-weight: 600;
    color: #66625c;
}

.main .pokemonList .pokemonCard .pokemonInfo > .idPokedex{
    margin: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 500;
    font-family: 'Rubik';
    letter-spacing: 10px;
    opacity: 0;
    /* z-index: -1; */
    /* right: 0px;
    top: 0px; */
    /* border-radius: 50px; */
    /* background-color: rgb(255, 0, 255); */
}

.main .pokemonList .pokemonCard .pokemonInfo .pokemonType{
    display: flex;
    gap: 5px;
}
.main .pokemonList .pokemonCard .pokemonInfo .pokemonType span{
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
    font-family: 'Rubik';
    text-transform: capitalize;
    color: rgb(236, 236, 236);
    font-size: 14px;
}

.main .pokemonList .pokemonCard .pokemonStats table tbody tr,td{
    /* position: relative; */
    /* display: block; */
    font-family: 'Rubik';
    padding: 5px 0 5px 0;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 12px;
    color: rgb(146, 146, 146);
    /* margin-bottom: 15px; */
}



.main .pokemonList .pokemonCard .pokemonStats table tbody tr td .statPoints{
    font-weight: 200;
    margin: 0px 10px 0px 10px;
    /* color: white; */

    /* margin-bottom: 15px; */
}



.pokemonList::-webkit-scrollbar {
    background-color: #ffffff;
    border-radius: 20px;
    max-width: 8px;
    margin-right: 2px;
    /* border: 5px solid #f1f2f3; */
}


.pokemonList::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    /* border: 5px solid #f1f2f3; */
}


.types::-webkit-scrollbar {
    background-color: #ffffff;
    border-radius: 20px;
    max-width: 8px;
    /* border: 5px solid #f1f2f3; */
}


.types::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 20px;
    width: 10px;
    /* border: 5px solid #f1f2f3; */
}





/* Estilos del modal */


.modal-info-pokemon .modal-body h4{
    text-transform: capitalize;
    font-family: 'Rubik';
    color: #a39f99;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.25;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
    color: #66625c;
}


.modal-info-pokemon .modal-body .pokemonStats{
    display: flex;
    justify-content: center;
}



.modal-info-pokemon .modal-body .pokemonType{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.modal-info-pokemon .modal-body .pokemonType span{
    padding: 3px 7px 3px 7px;
    border-radius: 5px;
    font-family: 'Rubik';
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    font-size: 14px;
}